body{
    background-color: rgb(167, 163, 163);
}
.contenedor-cards{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 1rem;
    justify-content: center;
    text-align: center;
    margin: 0px;
    
    
    
}
h1{
    display: block;
    margin-top: 0;
    padding-top: 22px;
    font-size: 30px;
    font-weight: bold;
}
th{
    color: #e66c6b;
    font-weight: bold;
}
td:hover{
    background-color:#e66b6b71;
}

table{
    background-color: rgb(255, 255, 255);
    padding: 28px 28px 28px 32px;
    border-radius:  0px 0px 5px 5px;
    font-weight: bold;
    
}

.tarjeta{
    width: 260px;
    height: auto; 
    box-shadow: .8rem .8rem .8rem rgb(56, 55, 55);
    
    
}
.meses{
    background-color: #e66c6b;
    padding: 1rem 0 2rem 1rem;
    text-align: left;
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 0 0 ;
    
}
.n{
    color: rgb(255, 255, 255);
}
.m{
    color: rgb(255, 255, 255);
}
.rayas{
    position: absolute;
    width: 265px;
    height: 315px;
    display: grid;
    grid-template-columns: 15% 15%;
    justify-content: right;
    align-items: center;
}
.cin{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 28% 28%;
    justify-content: center;
    align-items: center;
}
#c1{
    margin-left: -0px;
}

#c2{
    margin-left: -210px;
}

.c2-1{
    height: 55%;
    width: 6px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(237, 156, 156);
    box-shadow: 0px 4px rgba(0, 0, 0, 0.461);
    justify-content: left;
}
.c2-2{
    height: 55%;
    width: 6px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(237, 156, 156);
    box-shadow: 0px 4px rgba(0, 0, 0, 0.461);
}
.c1-1{
    height: 55%;
    width: 6px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(237, 156, 156);
    box-shadow: 0px 4px rgba(0, 0, 0, 0.461);
}
.c1-2{
    height: 55%;
    width: 6px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(237, 156, 156);
    box-shadow: 0px 4px rgba(0, 0, 0, 0.461);
}


@media screen and (max-width:1200px){
    .contenedor-cards{
        grid-template-columns: repeat(2, 35%);
}
}

@media screen and (max-width:750px){
    .contenedor-cards{
        grid-template-columns: repeat(1, 50%);
}
}